<!DOCTYPE html>
<html>

<head>
  <title>Produtos</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav><object width="100%" height="65px" data="../views/menu.ejs"></object></nav>
  <div class="todosprodutos">
  <h1>
    Editar Estoque
  </h1>
  <p>
    <a href="/estoques">Voltar</a>
  </p>
  <% if (typeof(errors) !="undefined" ) { %>
    <div style="color: red; border: 1px solid red;">
      <ul>
        <% for(var i=0; i < errors.length; i++) { %>
          <li>
            <%= errors[i] %>
          </li>
          <% } %>
      </ul>
    </div>
    <% } %>

  <form action="/estoques/<%= estoque.ID %>" method="POST">
    <input type="hidden" name="id" value="<%= estoque.ID %>" /><br>
    <input type="hidden" name="idProduto" value="<%= estoque.IDPRODUTO %>" />
    <p>
      <label for="quantidade">Informe a nova quantia em estoque:</label><br>
      <input type="number" min="0" id="quantidade" name="quantidade" value="<%= estoque.QUANTIDADE %>" /><br>
    </p>
    <input type="submit" value="Submeter">
  </form>
</div>
</body>

</html>