<!DOCTYPE html>
<html>
  <head>
    <title>Produtos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class='titulo'>Registro de Movimentações</h1>
    <div class="pesquisa">
      <div class ='divNovo'>
        <p><a href="/movimentacoes/novo">Novo</a></p>
        <p><a href="/">Voltar</a></p>
      </div>
    </div>
    <div class="todosprodutos">
      <h1>Movimentações</h1>
      <ul>
        <% for(var i = 0; i < movimentacao.length; i++) { %>
          <li>
            <p>
              <a href="/movimentacoes/<%= movimentacao[i].ID %>">
                <span class="<%= movimentacao[i].cor %>"><%= movimentacao[i].acao %></span> de <%= movimentacao[i].QUANTIDADE %> <%= movimentacao[i].DESCRICAO %>
              </a>
            </p>
          </li>
        <% } %>
      </ul>
  </div>
  </body>
</html>

