<!DOCTYPE html>
<html>

<head>
  <title>Produtos</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="todosprodutos">
  <h1>
    Editar Produto
  </h1>
  <p>
    <a href="/produtos">Voltar</a>
  </p>
  <% if (typeof(errors) !="undefined" ) { %>
    <div style="color: red; border: 1px solid red;">
      <ul>
        <% for(var i=0; i < errors.length; i++) { %>
          <li>
            <%= errors[i] %>
          </li>
          <% } %>
      </ul>
    </div>
    <% } %>

  <form action="/produtos/<%= produto.id %>" method="POST">
    <input type="hidden" id="id" name="id" value="<%= produto.id %>" /><br>
    <p>
      <label for="descricao">Informe a nova descrição do produto:</label><br>
      <input type="text" id="descricao" name="descricao" value="<%= produto.descricao %>" /><br>
    </p>
    <p>
      <label for="preco">Informe o novo preço do Produto:</label><br>
      <input type="text" id="preco" name="preco" value="<%= produto.preco%>" /><br>
    </p>
    <input type="submit" value="Submeter">
  </form>
</div>
</body>

</html>